.popular-items-line {
    display: flex;
    justify-content: space-around;
}

.popular-items .title {
    font-size: 35px;
    font-weight: 700;
    color: #212121;
    text-align: center;
    margin-bottom: 50px;
}

.popular-item .food-image{
    width: 220px;
}

.popular-item-1 img {
    border-radius: 8px;
}

.popular-item .food-name {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 700;
    color: #424242;
}

.popular-item .location {
    margin-top: 3px;
    display: flex;
    align-items: center;
}

.popular-item .location p {
    font-size: 14px;
    font-weight: 400;
    color: #FFB30E;
    margin-left: 5px;
}

.popular-item .location img {
    width: 11px;
    height: 16px;
}

.popular-item .price {
    font-size: 16px;
    font-weight: 700;
    color: #212121;
    margin-top: 3px;
}

.popular-item .order-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 39px;
    background-color: #F17228;
    border-radius: 8px;
    margin-top: 10px;
}

.popular-item .order-button p {
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
}